/*Background Image*/
#myVideo {
	min-width: 100%;
	min-height: 100%;
 
	width: auto;
 
	position: absolute;
 
	height: auto;
	max-height: 100%;
	width: 100%;
  }

/*You can also use RGB or RGBA when changing colors as well*/
/*div{
	position: relative;
    left: 80%;
	top: 50%;
	background:lightgreen;
	max-width: 100px;
}*/

/*Adding borders to things lol, they always have 3 things
border-color, border-width,and border-style*/
/*h1{
	max-width: 100px;
	color:#ecf0f1;
	border: 2px dashed #ADDBCD;
}*/

/*Flippy Tippy Punchy Rhonda Rousy*/

/*div { 
	transform-origin:200% center;
	animation:rotate 3s linear infinite;
}

@keyframes rotate { 100% { transform:rotateY(360deg); } }*/

